<md-dialog aria-label="{{search.selectedResult.show.title}}">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{search.selectedResult.show.title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <i class="material-icons">clear</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;">
    <div layout="row" layout-margin>
      <div layout-padding>
        <img ng-src="{{search.selectedResult.show.images.poster.medium}}" alt="Poster" height="300px">
      </div>
      <div layout="column" flex>
        <h4>{{search.selectedResult.show.title}}  <small>({{search.selectedResult.show.year}})</small></h4>
        <p>{{search.selectedResult.show.overview}}</p>
      </div>
    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button href="http://www.imdb.com/title/{{search.selectedResult.show.ids.imdb}}/" target="_blank" md-autofocus>
      More on imdb
    </md-button>
    <span flex></span>
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button ng-click="follow(search.selectedResult)" style="margin-right:20px;" >
      Add
    </md-button>
  </div>
  </form>
</md-dialog>