<div layout="row" layout-align="center start">
  <md-content layout-padding layout="row" layout-wrap layout-fill layout-align="center start">
    <md-card ng-repeat="item in home.limitFollowing | orderBy: '-rating' as result track by $index" flex="20">
      <img ng-src="{{item.images.poster.medium}}" class="md-card-image" height="350px" width="100px">
      <md-card-content>
        <span class="md-headline">{{item.title | limitTo: 19}}<span ng-if="item.title.length > 19">...</span></span>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="home.showAdvanced($event, result[$index])">Details</md-button>
      </div>
    </md-card>
  </md-content>
</div>
    <md-divider></md-divider>
<div layout="row" layout-align="center start">
  <md-content layout-padding layout="row" layout-wrap layout-fill layout-align="center start">
    <md-card ng-repeat="item in home.limitWatching | orderBy: '-rating' as result track by $index" flex="20">
      <img ng-src="{{item.images.poster.medium}}" class="md-card-image" height="350px" width="100px">
      <md-card-content>
        <span class="md-headline">{{item.title | limitTo: 19}}<span ng-if="item.title.length > 19">...</span></span>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="home.showAdvanced($event, result[$index])">Details</md-button>
      </div>
    </md-card>
  </md-content>
</div>