<div layout="row" layout-align="center start">
  <md-content layout-padding layout="row" layout-wrap layout-align="center start" flex="100">
    <md-card class="md-whiteframe-z3">
      <md-card-content>
        <md-input-container flex>
        <label>Search</label>
        <input type="text" ng-model="home.queryText">
        </md-input-container>
      <md-button class="md-raised md-primary" ng-click="home.search()">search</md-button>
      </md-card-content>
      
    </md-card>
  </md-content>
</div>