<div layout="row" layout-align="center start" flex="100">
  <div layout="column" flex-gt-lg="50" flex-gt-md="60" flex-md="60" flex-gt-sm="70" flex-sm="85" id="content" layout-align="center start"  layout-margin>
    <md-card layout-fill class="md-whiteframe-z5">
      <md-card-content>
       <div layout="row" layout-align="center start">
        <img src="/img/logo2-bl.png" width="50%">
        </div>
        <div ng-show="security.authData">
          <p>Hello, {{security.authData.google.displayName}}.</p>
          <p>You are currently logged in as <strong>{{ security.authData.uid }}</strong>.</p>
          <md-button class="md-raised" ng-click="security.auth.$unauth()">Logout</button>
        </div>
        <form name="userForm" ng-hide="security.authData"> 
          <div layout="column">
            <h3 class="md-headline">Welcome, please log in:</h3>
            <md-input-container flex>
              <label>User</label>
              <input type="text" ng-model="security.email">
            </md-input-container>
            <md-input-container flex>
              <label>Password</label>
              <input type="password" ng-model="security.password">
            </md-input-container>
          </div>
          <div layout="row" layout-align="end">
            <md-button ng-click="security.createAccount()">Create</md-button>
            <md-button class="md-raised md-primary" ng-click="security.login()">Login</md-button>
          </div>
          <div layout="row" layout-align="center end">
            <md-button class="md-raised md-warn" ng-click="security.loginViaProvider()">Google login</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>