
<div layout="row" layout-align="center start" flex="100">
      <div layout="column" flex-gt-lg="50" flex-gt-md="60" flex-md="60" flex-gt-sm="70" flex-sm="85" id="content" layout-align="center start"  layout-margin>
        <md-card layout-fill class="md-whiteframe-z5">
          <md-card-content>
            <h2>Heading Here</h2>
            
            <form name="userForm"> 
              <div layout="column">
                <h3>Login</h3>
                <md-input-container flex>
                  <label>User</label>
                  <input>
                </md-input-container>
                <md-input-container flex>
                  <label>Password</label>
                  <input>
                </md-input-container>
              </div>
              <div layout="row">
                <div ng-show="security.authData">
                  <p>Hello, {{security.authData.google.displayName}}</p>
                  <button ng-click="security.auth.$unauth()">Logout</button>
                </div>
                <div ng-hide="security.authData">
                  <p>Welcome, please log in</p>
                  <button ng-click="security.auth.$authWithOAuthPopup('google')">Login</button>
                </div>
              </div>
              <div layout="row">
                <p ng-if="security.authData">Logged in user: <strong>{{ security.authData.uid }}</strong></p>
                <p ng-if="security.error">Error: <strong>{{ security.error }}</strong></p>
              </div>
              <div layout="row" layout-align="end center">
                <md-button >Create</md-button>
                <md-button class="md-raised md-primary" ng-click="security.getCurrentUser()">Login</md-button>
                <md-button class="md-raised md-primary" ng-click="security.loginViaProvider()">Google login</md-button>
                <!-- <md-button class="md-raised md-primary" ng-click="security.loginViaProvider()">Google login</md-button> -->
              </div>
            </form>
          </md-card-content>
        </md-card>
      </div>
    </div>