<!-- <md-content style="height: 600px;"> -->
<md-subheader class="md-primary remove-padding">
  <!-- <div layout="column" layout-align="center start"> -->
    <md-content layout="row" layout-fill layout-align="center" flex>
      <md-card flex="75">
        <md-card-content layout="row" layout-wrap>
          <md-input-container flex>
            <label>Show Name</label>
        <input name="queryText" type="text" ng-model="search.queryText" required>
        </md-input-container>
        <md-button ng-click="search.search()" flex="15">Search</md-button>
      </md-card-content> 
      <!-- <div>
        <div ng-if="search.status" layout="row" layout-align="center center" class="md-padding">
          {{search.status}}
        </div>
      </div> -->
    </md-card>
    </md-content>
    </md-subheader>
    <md-content style="height: 500px;">
<div layout="row" layout-align="center start">
  <md-content layout-padding layout="row" layout-wrap layout-fill layout-align="center start">
    <md-card ng-repeat="item in search.queryResults | filter: {show: {ids: {imdb: '!!'}}} | filter: {show: {images: {poster: {$: '!!'}}}} | orderBy: '-score' as filtered_result track by $index" flex="20">
      <img ng-src="{{item.show.images.poster.medium}}" class="md-card-image" height="350px" width="200px">
      <md-card-content>
        <span class="md-title">{{item.show.title | limitTo: 23}}<span ng-if="item.show.title.length > 23">...</span></span>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="search.showAdvanced($event, filtered_result[$index])">Details</md-button>
        <md-button ng-click="search.followShow(filtered_result[$index])">Follow</md-button>
      </div>
    </md-card>
  </md-content>
</div>
</md-content>
<!-- </div> -->
<!-- </md-content> -->